@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

$poppins: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    font-family: $poppins;
}

.container {
    background-color: #001666;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 2em;
        width: 30%;
        height: 60%;
        border-radius: 10px;

        h3 {
            color: #aaa;
            font-size: calc(1vw + .1rem);
            margin-bottom: 1em;
        }

        input, textarea {
            border: none;
            background-color: rgb(238, 238, 238);
            padding: 1em;
            outline: none;
            border-radius: 2px;
            font-family: $poppins;
            margin-bottom: 1em;
        }

        button {
            background: #fc6161;
            border: none;
            outline: none;
            padding: 1em;
            width: 100px;
            height: 40px;
            border-radius: 50px;
            color: #fff;
            margin: 0 auto;
        }
    }

}
